:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

/* Markdown Preview Styles */
.markdown-body img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
}

.markdown-body a {
  color: #58a6ff;
}

.markdown-body code {
  background-color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.markdown-body pre {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}